table {
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#create {
  margin: 10px 10px 10px 0px;
}

#container {
  margin: 20px;
}